{% extends "WHMainBundle::layout.html.twig" %}

{% block banner %}

    {% if Page.banner is not empty %}

        <div class="banniere">
            <img src="{{ Page.banner.url }}" alt="{{ Page.banner.alt }}"/>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row-fluid">

            <div class="span4">

                {{ render(controller('APPBlogBundle:PostFront:list', {'pageId' : Page.id})) }}

            </div>

            <div class="span8">

                <div class="contenu">

                    <h1>{{ Page.title }}</h1>

                    {{ Page.body | raw }}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
