<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}{% if SEO is defined %}{{ SEO.title }}{% else %}{{ project_name }}{% endif %}{% endblock %}</title>
    <meta name="description"
          content="{% block meta_description %}{% if SEO is defined %}{{ SEO.description }}{% else %}{{ project_name }}{% endif %}{% endblock %}">
    <meta name="robots"
          content="{% if indexable == true %}{% block meta_robots %}index, follow{% endblock %}{% else %}noindex, nofollow{% endif %}">
    <link rel="icon" type="image/png" href="{{ asset('front/img/favicon.png') }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" href="{{ asset('front/plugins/bootstrap-responsive/css/bootstrap-reponsive.css') }}">
    <link rel="stylesheet" href="{{ asset('front/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/plugins/slick/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('front/plugins/fresco/css/fresco/fresco.css') }}">
    <link rel="stylesheet" href="{{ asset('front/plugins/swiper/css/swiper.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/css/layout.css') }}"/>

    {% block stylesheets %}{% endblock %}

</head>

<body>

{% block banner %}{% endblock %}
{% block carousel %}{% endblock %}

<div id="wrapper">
    {% block body %}{% endblock %}
</div>

<header>

    <div class="container">

        <nav class="navbar navbar-default">

            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">Project name</a>

                </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        <li class="active"><a href="#">Home</a></li>

                        <li><a href="#">About</a></li>

                        <li><a href="#">Contact</a></li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                <li><a href="#">Action</a></li>

                                <li><a href="#">Another action</a></li>

                                <li><a href="#">Something else here</a></li>

                                <li role="separator" class="divider"></li>

                                <li class="dropdown-header">Nav header</li>

                                <li><a href="#">Separated link</a></li>

                                <li><a href="#">One more separated link</a></li>

                            </ul>

                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>

                        <li><a href="../navbar-static-top/">Static top</a></li>

                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>

                    </ul>

                </div>

            </div>

        </nav>

    </div>

</header>


<footer>

    <div class="container">

    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ asset ('front/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('front/plugins/select2/js/select2.min.js') }}"></script>
<script src="{{ asset ('front/plugins/slick/js/slick.min.js') }}"></script>
<script src="{{ asset ('front/plugins/fresco/js/fresco/fresco.js') }}"></script>
<script src="{{ asset ('front/plugins/swiper/js/swiper.min.js') }}"></script>
<script src="{{ asset ('front/whatson/js/layout.js') }}"></script>

<script type="text/javascript">

</script>

{% block javascripts %}{% endblock %}
{% block javascript %}{% endblock %}

</body>
</html>