{% extends "WHMainBundle::layout.html.twig" %}

{% block content %}

    <div class="banner">
        <div class="container">
            <img src="{{ asset('front/img/banniere.jpg') }}" alt="Bannière" class="img-responsive"/>
        </div>
    </div>

    <div class="container">

        <h1>Nos avantages</h1>

        <div class="liste-avantages">

            <div class="row">

                <div class="col-md-6">

                    <div class="avantage orange">

                        <p class="titre"><span>Pour habiter</span></p>

                        <div class="image">
                            <img src="{{ asset('front/img/avantage-habiter.jpg') }}" alt="Pour habiter"/>
                        </div>

                        <p class="sous-titre">Prêt à taux zéro 2016</p>

                        <div class="texte">
                            <img src="{{ asset('front/img/liste-avantages-ptz.png') }}" alt="Loi Pinel"/>

                            <p>Accordé sous conditions, le PTZ+ vous permet de compléter votre apport personnel ou
                                <strong>d'augmenter votre capacité d’emprunt</strong> lors de votre premier achat de
                                bien immobilier en résidence principale</p>
                        </div>

                        <div class="plus">

                            <p>Les plus</p>

                            <ul>
                                <li>/ Financement de votre logement jusqu’à 40%</li>
                                <li>/ Remboursable au bout de 5, 10 ou 15 ans en fonctionde vos revenus</li>
                                <li>/ Prêts extensibles à au moins 20 ans</li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="avantage vert">

                        <p class="titre"><span>Pour investir</span></p>

                        <div class="image">
                            <img src="{{ asset('front/img/avantage-investir.jpg') }}" alt="Pour investir"/>
                        </div>

                        <p class="sous-titre">Le dispositif Pinel</p>

                        <div class="texte">
                            <img src="{{ asset('front/img/liste-avantages-pinel.png') }}" alt="Loi Pinel"/>

                            <p>Lors de l’achat d’un bien immobilier neuf mis en location, vous pouvez <strong>bénéficier
                                    d'une réduction d'impôts</strong>.</p>
                        </div>

                        <div class="plus">

                            <p>Les plus</p>

                            <ul>
                                <li>/ Financement de votre logement jusqu’à 40%</li>
                                <li>/ Remboursable au bout de 5, 10 ou 15 ans en fonctionde vos revenus</li>
                                <li>/ Prêts extensibles à au moins 20 ans</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="retour-logements">

            <p>Et profitez des taux historiquement bas !</p>

            <div class="lien">
                <a href="{{ path('front_nacarat_home') }}">Retourner à la liste des logements</a>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $(window).ready(function () {
            equilibre('.liste-avantages .avantage .texte');
        });

        $(window).load(function () {
            equilibre('.liste-avantages .avantage .texte');
        });

        $(window).resize(function () {
            equilibre('.liste-avantages .avantage .texte');
        });

    </script>

{% endblock %}
