{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {'action' : path('front_nacarat_contact'), 'attr' : {'class' : 'ajax-form'}}) }}

<div class="message"></div>

<div class="row">

    <div class="col-md-4">

        {{ form_row(form.programme) }}
        {{ form_row(form.demande) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}

    </div>

    <div class="col-md-8">

        {{ form_row(form.message) }}

        <p>*Champs requis</p>

        <div class="submit">
            <button type="submit">Envoyer</button>
        </div>

    </div>

</div>

{{ form_end(form) }}
