{% extends "WHMainBundle::layout_email.html.twig" %}

{% block body %}

    <table>
        <tr>
            <td>Programme :</td>
            <td><strong>{{ data.programme }}</strong></td>
        </tr>
        <tr>
            <td>Demande :</td>
            <td><strong>{{ data.demande }}</strong></td>
        </tr>
        <tr>
            <td>Nom :</td>
            <td><strong>{{ data.nom }}</strong></td>
        </tr>
        <tr>
            <td>Prénom :</td>
            <td><strong>{{ data.prenom }}</strong></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><strong>{{ data.email }}</strong></td>
        </tr>
        <tr>
            <td>Téléphone :</td>
            <td><strong>{{ data.telephone }}</strong></td>
        </tr>
        <tr>
            <td>Message :</td>
            <td><strong>{{ data.message }}</strong></td>
        </tr>
    </table>

{% endblock %}